In [33]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("Iris.csv")

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

##### Dropping the Id column as it is not required in the model

In [5]:
df.drop(["Id"], axis=1, inplace=True)

In [7]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
df.shape

(150, 5)

##### Converting the string data in Species column to numerical values

In [20]:
le= LabelEncoder()
df["Species"] = le.fit_transform(df["Species"])

In [21]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.1           3.5            1.4           0.2        0
1            4.9           3.0            1.4           0.2        0
2            4.7           3.2            1.3           0.2        0
3            4.6           3.1            1.5           0.2        0
4            5.0           3.6            1.4           0.2        0

##### Spliting the data for training and testing

In [42]:
X=df.drop("Species", axis=1)
Y=df["Species"]

In [44]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [45]:
decisionTree = DecisionTreeClassifier()
decisionTree.fit(x_train, y_train)

DecisionTreeClassifier()

#### Visualization

#### Testing

In [46]:
decisionTree.predict(x_test)

array([2, 1, 0, 0, 2, 2, 1, 1, 1, 2, 0, 1, 0, 2, 0, 1, 0, 0, 2, 2, 1, 0,
       2, 1, 0, 1, 1, 0, 0, 2])

In [47]:
decisionTree.score(x_test, y_test)

0.9666666666666667